<input type="submit" value="Back" class="btn btn-default" ng-click="goBack()">
<h1 class="sub-heading">{{dishName}}</h1>
<h4 class="sub-heading">{{dishCategory}}</h4>
<br>
<table class="table" id="ingList">
	<thead>
		<tr>
			<th>Ingredients</th>
			<th>Quantity</th>
			<th>Cost</th>
		</tr>
	</thead>
	<tr ng-repeat="item in ingredientList">
		<td>{{item.name}}</td>
		<td>{{item.quantity}}</td>
		<td>${{item.cost}}</td>
	</tr>
	<tr>
		<td></td><td></td><td>${{totalCost}}</td>
	</tr>
</table>
<br>