<p class="sub-heading">Search for food</p>
<div class="row">
   	<div id="custom-search-input">
        <div class="input-group col-md-12">
            <input type="text" class="  search-query form-control" placeholder="Search" ng-model="searchFood"/>
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="clear()">
                    <span class=" ion-close-round"></span>
                </button>
            </span>
        </div>
    </div>
</div>
<br>
<br>
<table class="table table-hover" id="foodSearchList" ng-hide="!filteredDishList.length">
	<thead>
		<tr>
			<th></th>
			<th>
				<a href="" ng-click="orderByField='cost'; reverseSort = !reverseSort">
					Total cost
					<span ng-show="orderByField == 'cost'"><span ng-show="!reverseSort" class="ion-arrow-up-b"></span><span ng-show="reverseSort" class="ion-arrow-down-b"></span>
          		</a>
			</th>
			<th>
				<a href="" ng-click="orderByField='cuisine'; reverseSort = !reverseSort">
					Cuisine
					<span ng-show="orderByField == 'cuisine'"><span ng-show="!reverseSort" class="ion-arrow-up-b"></span><span ng-show="reverseSort" class="ion-arrow-down-b"></span>
          		</a>
			</th>
			<th>
				<a href="" ng-click="orderByField='meat'; reverseSort = !reverseSort">
					Meat
					<span ng-show="orderByField == 'meat'"><span ng-show="!reverseSort" class="ion-arrow-up-b"></span><span ng-show="reverseSort" class="ion-arrow-down-b"></span>
          		</a>
			</th>
			<th>
				<a href="" ng-click="orderByField='type'; reverseSort = !reverseSort">
					Type
					<span ng-show="orderByField == 'type'"><span ng-show="!reverseSort" class="ion-arrow-up-b"></span><span ng-show="reverseSort" class="ion-arrow-down-b"></span>
          		</a>
			</th>
		</tr>
	</thead>
	<tr ng-repeat="dish in filteredDishList = (dishList | filter:searchFood) | orderBy:orderByField:reverseSort" ng-click="getSelectedDish(dish)">
		<td>{{dish.name}}</td>
		<td>${{dish.cost}}</td>
		<td>{{dish.cuisine}}</td>
		<td>{{dish.meat}}</td>
		<td>{{dish.type}}</td>
	</tr>
</table>

<div class="container resultCont" ng-show="!filteredDishList.length">
	Results not found
	<br>
	<input type="submit" value="Add new recipe" class="btn btn-default" ng-click="addNew()">
</div>
