<div class="row">
   	<div id="custom-search-input">
        <div class="input-group col-md-12">
            <input type="text" class="  search-query form-control" placeholder="Search" ng-model="searchFood" />
            <span class="input-group-btn">
                <button class="btn btn-danger" type="button">
                    <span class=" glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
    </div>
</div>
<br>
<table class="table table-hover" id="foodSearchList">
	<thead>
		<tr>
			<th></th>
			<th>Total cost</th>
			<th>Category</th>
			<th>Meat</th>
		</tr>
	</thead>
	<tr ng-repeat="dish in filteredDishList = (dishList | filter:searchFood)" ng-click="getSelectedDish(dish)">
		<td>{{dish.name}}</td>
		<td>{{dish.cost}}</td>
		<td>{{dish.category}}</td>
		<td>{{dish.meat}}</td>
	</tr>
</table>

<div class="container" ng-show="!filteredDishList.length">
	Results not found
	<br>
	<button ng-click="addNew()">Add new recipe</button>
</div>


