<div class="row">
    <form role="form">
        <div class="col-lg-6">
            <div class="well well-sm"><strong><span class="glyphicon glyphicon-asterisk"></span>Required Field</strong></div>
            <div class="form-group">
                <label for="InputName">Name</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="InputName" ng-model="InputName" placeholder="Enter Name" required>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                </div>
            </div>
            <div class="form-group">
                <label for="InputCategory">Category</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="InputCategory" ng-model="InputCategory" placeholder="Enter Category" required>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                </div>
            </div>
            <div class="form-group">
                <label for="InputMeat">Meat</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="InputMeat" ng-model="InputMeat" placeholder="Enter Meat" required>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                </div>
            </div>
            <div class="form-group">
                <label for="dropdownMenu1">Ingredients</label>
				<div class="dropdown">
				  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
				    {{currCategory}}
				    <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu scrollable-menu" role="menu" aria-labelledby="dropdownMenu1">
				  	<li ng-repeat="item in itemList">
				  		<a ng-click="setCurrentVal(item)">
				  		{{item}}
				  		</a>
				  	</li>
				  </ul>
				</div>
            </div>

            <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-info pull-right" ng-click="submitNewDish()">
        </div>
    </form>
    <div class="col-lg-5 col-md-push-1">
        <div class="form-group" ng-show="chosenItem.length">
			<table class="table">
				<tr ng-repeat="item in chosenItem">
					<td>{{item}}</td>
					<td><input type="number" id="quantity" ng-model="currVal" min="1" max="50" required/></td>
					<td>$<input type="number" id="cost" ng-model="cost[item]" min="1" max="100" required/></td>
				</tr>
			</table>
        </div>
    </div>
<!--     <div class="col-lg-5 col-md-push-1">
        <div class="col-md-12">
            <div class="alert alert-success">
                <strong><span class="glyphicon glyphicon-ok"></span> Success! Message sent.</strong>
            </div>
            <div class="alert alert-danger">
                <span class="glyphicon glyphicon-remove"></span><strong> Error! Please check all page inputs.</strong>
            </div>
        </div>
    </div> -->
</div>